---
layout: page
title: ~rlankenau/ 
---
{% include JB/setup %}

<ul class="posts">
  {% for post in paginator.posts %}
    <li class="post_item">
	<H2>{{ post.title }}</H2> 
	<div>{{ post.date | date_to_string }}</div>
	<div>{{ post.content }}</div>
	<div><a href="{{ BASE_PATH }}{{ post.url }}#comments">Comments</a></div>
	</li>
  {% endfor %}
</ul>
<div class="pagination">
<ul>
{% if paginator.previous_page %}
{% if paginator.previous_page == 1 %}
<li class="disabled"><a href="#">&laquo;</a></li>
{% else %}
<li><a href="/page{{paginator.previous_page}}">&laquo;</a></li>
{% endif %}
{% endif %}
 
{% if paginator.page == 1 %}
<li class="disabled"><a href="#">1</a></li>
{% else %}
<li><a href="/">1</a></li>
{% endif %}
 
{% for count in (2..paginator.total_pages) %}
<li class="page">
{% if count == paginator.page %}
<li class="active"><a href="#">{{count}}</a></li>
{% else %}
<li><a href="/page{{count}}">{{count}}</a></li>
{% endif %}
{% endfor %}
 
{% if paginator.next_page %}
<li class="active"><a href="/page{{paginator.next_page}}">&raquo;</a></li>
{% else %}
<li class="disabled"><a href="#">&raquo;</a></li>
{% endif %}
</ul>
</div>
<div>
Elsewhere: 
<a href="https://coderwall.com/rlankenau"><img alt="Endorse rlankenau on Coderwall" src="http://api.coderwall.com/rlankenau/endorsecount.png" /></a> <a href="https://twitter.com/russlankenau" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @RussLankenau</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
